Repository pong-together/frontend, pull requests merged in 2024-02, with the labels that each got.

#2 Build: 초기 설정 완료
  .editorconfig
  .eslintrc.json
  .prettierrc.json
  .vscode/settings.json
  index.html
  package.json
  src/components/Component.js
  src/core/Component.js
  src/index.js
  src/pages/components/App.js
  src/pages/components/Component.js
  src/pages/components/GameSelect.js
  src/pages/components/Login.js
  src/pages/pages.js
  src/pages/router.js
  src/utils/language.js
  static/index.css
  static/login/login.css
Labels: ✨ feature, 🚏 routing

#5 [feat/#4] 토너먼트 레이아웃
  index.html
  src/pages/components/App.js
  src/pages/components/Tournament-Bracket.js
  src/pages/components/Tournament.js
  src/pages/pages.js
  src/pages/router.js
  static/css/Tournament/Tournament-Bracket.css
  static/css/Tournament/Tournament.css
  static/css/index.css
  static/css/login/login.css
  static/images/background.png
  static/images/bracket-background.png
  static/images/logoBlue.png
  static/images/logoWhite.png
Labels: ✨ feature, 🏆 tournament

#9 Feat/#4: 토너먼트 대진표 선 굵기 변경 및 로컬 추가
  index.html
  src/pages/components/Local.js
  src/pages/components/Tournament-Bracket.js
  src/pages/components/Tournament.js
  src/pages/pages.js
  static/css/Tournament/Tournament-Bracket.css
  static/css/Tournament/Tournament.css
  static/css/local/Local.css
  static/images/Group 69.png
  static/images/Group 85.png
  static/images/bracket-background.png
Labels: ✨ feature, 🏆 tournament

#10 feat/pong-together/frontend#8: 원격 레이아웃 추가
  index.html
  src/index.js
  src/pages/components/Remote.js
  src/pages/pages.js
  static/css/Remote/Remote.css
  static/images/ball.png
  static/images/bracket-background.png
  static/images/crown.png
  static/images/exclamation-mark.png
  static/images/question-mark.png
Labels: ✨ feature, 🗄️ remote

#11 [Feat/#3] 게임 선택 페이지 개발
  index.html
  src/pages/components/GameSelect.js
  src/pages/components/game_select/GameSelect.js
  src/pages/pages.js
  src/utils/language.js
  static/css/select/select.css
  static/images/selectLocal.png
  static/images/selectModeInfo.png
  static/images/selectRemote.png
  static/images/selectTournament.png
Labels: ✨ feature, 🍀 game select

#13 [Feat/#7] 로그인 관련 레이아웃 제작
  src/pages/components/App.js
  src/pages/components/login/Login.js
  src/pages/components/login/OauthBtn.js
  src/pages/components/login/SelectLanguage.js
  src/pages/components/login/TFABtn.js
  src/pages/pages.js
  src/utils/language.js
  static/css/index.css
  static/css/login/login.css
  static/css/select/select.css
Labels: ✨ feature, 🚏 routing, 👥 login

#15 feat/pong-together/frontend#4: 프로필 칩 추가 및 페이지 이동 구현
  index.html
  intra/index.css
  intra/index.html
  src/pages/components/App.js
  src/pages/components/Component.js
  src/pages/components/Tournament-Bracket.js
  src/pages/components/Tournament.js
  src/pages/pages.js
  static/css/Tournament/Tournament-Bracket.css
  static/css/chip/Chip.css
  static/css/index.css
  static/images/Chip-background.png
  static/images/ChipLogo.png
  static/images/Polygon 3.png
Labels: ✨ feature, 🏆 tournament

#18 [Feat/#14] 전역변수 추가
  src/core/Component.js
  src/index.js
  src/pages/components/App.js
  src/pages/components/Component.js
  src/pages/components/Local.js
  src/pages/components/Login.js
  src/pages/components/Remote.js
  src/pages/components/Tournament-Bracket.js
  src/pages/components/Tournament.js
  src/pages/components/game_select/GameSelect.js
  src/pages/components/login/Login.js
  src/pages/components/login/OauthBtn.js
  src/pages/components/login/SelectLanguage.js
  src/pages/components/login/TFABtn.js
  src/store/actions.js
  src/store/index.js
  src/store/mutations.js
  src/store/pubsub.js
  src/store/state.js
  src/store/store.js
  src/utils/language.js
Labels: ✨ feature, 🏷️ etc.

#21 Feat/#4
  src/pages/components/Local.js
  src/pages/components/Tournament.js
  src/pages/components/game_select/GameSelect.js
  src/pages/components/tournament/Tournament-Bracket.js
  src/pages/components/tournament/Tournament.js
  src/pages/pages.js
  src/utils/language.js
Labels: ✨ feature, 🏆 tournament

#22 [FEAT] oauth 리다이렉트 url 연결, 게임선택 컴포넌트 기능 추가
  index.html
  src/core/http.js
  src/pages/components/game_select/GameSelect.js
  src/pages/components/login/Login.js
  src/pages/components/login/OauthBtn.js
  src/store/actions.js
  src/store/mutations.js
  src/store/state.js
  static/images/favicon.png
Labels: ✨ feature, 👥 login, 🍀 game select

#20 [FEAT/#19]: Remote 레이아웃
  src/pages/components/Remote.js
  src/pages/components/Remote/Remote.js
  src/pages/components/Remote/RemoteCancel.js
  src/pages/components/Remote/RemoteFind.js
  src/pages/components/Remote/RemoteIntra.js
  src/pages/components/Remote/RemoteWait.js
  src/pages/pages.js
  static/css/Remote/Remote.css
  static/images/intraPicture.png
Labels: 🛠️ fix, ✨ feature, 🗄️ remote

#25 [Feat/#12] jwt 발급 시 2FA 컴포넌트로 이동
  src/pages/components/App.js
  src/pages/components/login/Login.js
  src/pages/components/login/OauthBtn.js
  src/store/actions.js
  src/store/mutations.js
  src/store/state.js
  src/store/store.js
Labels: ✨ feature, 👥 login

#26 [FEAT/#24]: Remote Event 작업, 페이지 전환
  src/pages/components/Remote/Remote.js
  src/pages/components/Remote/RemoteFound.js
  src/pages/components/Remote/RemoteReady.js
  src/pages/components/Remote/RemoteSearch.js
  src/pages/components/Remote/RemoteWait.js
  src/pages/pages.js
Labels: ✨ feature, 🗄️ remote

#31 [FEAT/#30]: Remote 언어 추가 작업
  src/pages/components/Remote/RemoteFound.js
  src/pages/components/Remote/RemoteReady.js
  src/pages/components/Remote/RemoteSearch.js
  src/pages/components/Remote/RemoteWait.js
  src/utils/language.js
  static/css/Remote/Remote.css
Labels: ✨ feature, 🗄️ remote

#29 [Feat/#27] 2FA 컴포넌트 개발
  index.html
  src/pages/components/App.js
  src/pages/components/game_select/GameSelect.js
  src/pages/components/login/Login.js
  src/pages/components/login/OauthBtn.js
  src/pages/components/login/SelectLanguage.js
  src/pages/components/login/TFABtn.js
  src/store/state.js
  static/css/login/login.css
  static/images/loginLoading.png
Labels: ✨ feature, 👥 login

#33 feat/pong-together/frontend#28: 토너먼트 버튼 레이아웃 수정 및 언어 작업 수정
  intra/index.css
  intra/index.html
  src/pages/components/Local.js
  src/pages/components/tournament/Tournament-Bracket.js
  src/pages/components/tournament/Tournament.js
  static/css/Tournament/Tournament-Bracket.css
  static/css/Tournament/Tournament.css
  static/css/local/Local.css
Labels: ✨ feature, 🏆 tournament

#34 [FEAT/#28]: 게임 화면 추가 및 토너먼트 api, 기타 버그 수정
  index.html
  src/pages/components/App.js
  src/pages/components/game/Game.js
  src/pages/components/tournament/Tournament-Bracket.js
  src/pages/components/tournament/Tournament.js
  src/pages/components/tournament/TournamentApi.js
  src/pages/pages.js
  static/css/Tournament/Tournament.css
  static/css/chat/Chat.css
  static/css/game/Game.css
  static/css/local/Local.css
  static/images/game-background.png
Labels: ✨ feature, ⚽️ game, 🏆 tournament

#35 [Feat/#7] 비동기 함수 로딩중 처리 / 언어선택 컴포넌트 수정
  src/pages/components/game_select/GameSelect.js
  src/pages/components/login/Login.js
  src/pages/components/login/OauthBtn.js
  src/pages/components/login/SelectLanguage.js
  src/pages/components/login/TFABtn.js
  src/store/actions.js
  src/store/store.js
  src/utils/language.js
Labels: 🛠️ fix, ✨ feature, 👥 login

#36 [FEAT/#32]: Remote 화면 수정 & Game 레이아웃 추가
  index.html
  src/pages/components/Remote/Remote.js
  src/pages/components/Remote/RemoteSearch.js
  src/pages/components/game/Game.js
  src/pages/components/game/GameStart.js
  static/css/Remote/Remote.css
  static/css/game/Game.css
  static/images/game-background.png
Labels: 🛠️ fix, ✨ feature, ⚽️ game, 🗄️ remote

#40 [Feat/#38] chip 데이터 연동
  src/core/http.js
  src/pages/components/App.js
  src/pages/components/game_select/GameSelect.js
  src/pages/components/login/Login.js
  src/pages/components/login/OauthBtn.js
  src/pages/components/login/SelectLanguage.js
  src/pages/components/login/TFABtn.js
  src/pages/components/tournament/Tournament-Bracket.js
  src/store/actions.js
  src/store/mutations.js
  src/store/state.js
  src/utils/language.js
  static/css/chat/Chat.css
  static/css/chip/Chip.css
  static/css/login/login.css
Labels: ✨ feature, 👥 login

#42 [Feat/#39] Game Canvas 구현
  src/pages/components/Remote/Remote.js
  src/pages/components/Remote/RemoteFound.js
  src/pages/components/Remote/RemoteReady.js
  src/pages/components/Remote/RemoteSearch.js
  src/pages/components/Remote/RemoteWait.js
  src/pages/components/game/Canvas.js
  src/pages/components/game/CanvasMac.js
  src/pages/components/game/Game.js
  src/pages/components/game/GameReady.js
  src/pages/components/game/GameStart.js
  static/css/game/Game.css
  static/images/Group 69.png
  static/images/Group 85.png
  static/images/ball.png
  static/images/ball2.png
  static/images/player1_bar.png
  static/images/player2_bar.png
Labels: 🛠️ fix, ✨ feature, ⚽️ game

#44 [Feat/#41] 채팅 기능 구현
  src/pages/components/App.js
  static/css/chat/Chat.css
Labels: ✨ feature, ⌨️ chat

#48 [Feat/#46] Game Canvas 화면 변경 완료 및 Remote 코드 수정 완료
  index.html
  src/pages/components/Remote/Remote.js
  src/pages/components/Remote/RemoteFound.js
  src/pages/components/Remote/RemoteReady.js
  src/pages/components/Remote/RemoteSearch.js
  src/pages/components/Remote/RemoteWait.js
  src/pages/components/game/Canvas.js
  src/pages/components/game/CanvasMac.js
  src/pages/components/game/Game.js
  src/pages/components/game/GameReady.js
  src/pages/components/game/GameStart.js
  static/css/Remote/Remote.css
  static/css/game/Game.css
Labels: ✨ feature, ⚽️ game, 🌈 refactor, 🗄️ remote

#49 [Fix/#47] 라우팅 방식 변경
  package.json
  public/static/css/Remote/Remote.css
  public/static/css/Tournament/Tournament-Bracket.css
  public/static/css/Tournament/Tournament.css
  public/static/css/chat/Chat.css
  public/static/css/chip/Chip.css
  public/static/css/game/Game.css
  public/static/css/index.css
  public/static/css/local/Local.css
  public/static/css/login/login.css
  public/static/css/select/select.css
  public/static/images/Chip-background.png
  public/static/images/ChipLogo.png
  public/static/images/Polygon 3.png
  public/static/images/background.png
  public/static/images/ball.png
  public/static/images/ball2.png
  public/static/images/bracket-background.png
  public/static/images/crown.png
  public/static/images/exclamation-mark.png
  public/static/images/favicon.png
  public/static/images/game-background.png
  public/static/images/intraPicture.png
  public/static/images/loginLoading.png
  public/static/images/logoBlue.png
  public/static/images/logoWhite.png
  public/static/images/player1_bar.png
  public/static/images/player2_bar.png
  public/static/images/question-mark.png
  public/static/images/selectLocal.png
  public/static/images/selectModeInfo.png
  public/static/images/selectRemote.png
  public/static/images/selectTournament.png
  src/pages/components/App.js
  src/pages/components/Local.js
  src/pages/components/NotFound.js
  src/pages/components/Remote/RemoteReady.js
  src/pages/components/Remote/RemoteSearch.js
  src/pages/components/game_select/GameSelect.js
  src/pages/components/login/Login.js
  src/pages/components/login/OauthBtn.js
  src/pages/components/login/SelectLanguage.js
  src/pages/components/login/TFABtn.js
  src/pages/components/tournament/Tournament.js
  src/pages/pages.js
  src/pages/router.js
  src/router/constants/pages.js
  src/router/router.js
  src/router/utils/navigate.js
  src/router/utils/querySelector.js
  vite.config.js
Labels: 🛠️ fix, 🚏 routing

#50 [Fix/#47] 리다이렉트url 수정 및 잔버그 픽스
  .gitignore
  package.json
  public/static/css/chat/Chat.css
  src/pages/components/App.js
  src/pages/components/game_select/GameSelect.js
  src/pages/components/login/Login.js
  src/pages/components/login/LoginRedirect.js
  src/pages/components/login/OauthBtn.js
  src/pages/components/login/SelectLanguage.js
  src/pages/components/login/TFABtn.js
  src/pages/components/tournament/TournamentApi.js
  src/pages/pages.js
  src/pages/router.js
  src/router/constants/pages.js
Labels: 🛠️ fix, 👥 login, ⌨️ chat

#52 [Feat/#51] App 예외처리
  index.html
  public/static/css/index.css
  public/static/css/notFound.css
  public/static/images/sorrysorrysorry.png
  src/pages/components/App.js
  src/pages/components/Local.js
  src/pages/components/NotFound.js
  src/pages/components/Remote/RemoteReady.js
  src/pages/components/Remote/RemoteSearch.js
  src/pages/components/game/Game.js
  src/pages/components/game_select/GameSelect.js
  src/pages/components/login/LoginRedirect.js
  src/pages/components/login/OauthBtn.js
  src/pages/components/tournament/Tournament.js
Labels: ✨ feature, 🏷️ etc.
