Repository pong-together/frontend, pull requests merged in 2024-03, with the labels that each got.

#54 [Feat/#46] Game CSS 수정 및 작은 사항
  index.html
  public/static/css/game/Game.css
  src/pages/components/Remote/Remote.js
  src/pages/components/Remote/RemoteFound.js
  src/pages/components/Remote/RemoteReady.js
  src/pages/components/Remote/RemoteSearch.js
  src/pages/components/Remote/RemoteWait.js
  src/pages/components/game/Canvas.js
  src/pages/components/game/Game.js
  src/pages/components/game/GameReady.js
  src/router/constants/pages.js
Labels: ⚽️ game, 🌈 refactor

#56 [Fix/#55] 토너먼트 api 및 게임정보반영
  public/static/css/Tournament/Tournament-Bracket.css
  public/static/images/ball.png
  src/pages/components/tournament/Tournament-Bracket.js
  src/pages/components/tournament/Tournament.js
  src/pages/components/tournament/TournamentApi.js
  src/store/actions.js
  src/store/mutations.js
  src/store/state.js
  src/utils/language.js
Labels: 🛠️ fix, 🏆 tournament

#57 [Feat/#53] access token 재발급 및 refresh token 처리 로직 구현
  src/core/http-origin.js
  src/core/http.js
  src/pages/components/game/Canvas.js
  src/pages/components/game/Game.js
  src/pages/components/game/GameReady.js
  src/pages/components/game/GameStart.js
  src/pages/components/remote/Remote.js
  src/pages/components/remote/RemoteReady.js
  src/pages/components/remote/RemoteSearch.js
Labels: ✨ feature

#62 [Feat/#51] App.js 예외처리
  index.html
  public/static/css/chat/Chat.css
  public/static/css/tournament/Tournament-Bracket.css
  public/static/css/tournament/Tournament.css
  src/pages/components/App.js
  src/pages/components/game_select/GameSelect.js
  src/pages/components/login/LoginRedirect.js
  src/pages/components/remote/Remote.js
  src/pages/components/tournament/Tournament-Bracket.js
  src/pages/components/tournament/Tournament.js
Labels: ✨ feature, 🏷️ etc.

#63 [fix] 네비게이트 버그 수정
  src/pages/components/game_select/GameSelect.js
  src/pages/components/login/Login.js
Labels: 🛠️ fix, 🍀 game select

#68 [Feat/#59] 사용자 다중 접속 예외처리
  public/static/css/login/login.css
  src/pages/components/App.js
  src/pages/components/login/LoginRedirect.js
  src/pages/components/login/SelectLanguage.js
  src/pages/components/login/TFABtn.js
  src/utils/language.js
  src/utils/modal.js
Labels: ✨ feature, 👥 login, ⌨️ chat

#73 [FEAT/#72] 로컬 API 및 기타 수정
  src/pages/components/App.js
  src/pages/components/game/Game.js
  src/pages/components/local/Local.js
  src/pages/components/local/LocalApi.js
  src/router/constants/pages.js
Labels: ✨ feature, ⚽️ game

#76 [Fix/#75] 로그인 시 채팅 예외처리에 걸리는 문제 해결
  public/static/images/user.png
  src/pages/components/App.js
  src/pages/components/game_select/GameSelect.js
  src/pages/components/local/Local.js
  src/pages/components/login/SelectLanguage.js
  src/pages/components/tournament/Tournament.js
  src/store/state.js
Labels: 🛠️ fix, 🏷️ etc., ⌨️ chat

#77 [Feat/#66] Remote Socket 완료
  public/static/css/remote/Remote.css
  src/pages/components/remote/Remote.js
  src/pages/components/remote/RemoteReady.js
  src/pages/components/remote/RemoteSearch.js
Labels: ✨ feature, ⚽️ game

#78 [Refactor/#66] Remote Socket Connect 수정
  src/core/http.js
  src/pages/components/game/Canvas-origin.js
  src/pages/components/remote/Remote.js
  src/pages/components/remote/RemoteReady.js
  src/pages/components/remote/RemoteSearch.js
Labels: ✨ feature, 🌈 refactor, 🗄️ remote

#80 [Refactor/#70, #79] Remote, Game 로직 재구조화 완료
  public/static/css/remote/Remote.css
  src/core/http-origin.js
  src/pages/components/game/Canvas-origin.js
  src/pages/components/game/Canvas.js
  src/pages/components/game/Game.js
  src/pages/components/game/GameReady.js
  src/pages/components/game/GameStart.js
  src/pages/components/remote/Remote.js
  src/pages/components/remote/RemoteReady.js
  src/pages/components/remote/RemoteSearch.js
Labels: ⚽️ game, 🌈 refactor, 🗄️ remote, 🏷️ etc.

#82 [Design/#69, Refactor/#79] Remote 매칭 오류 & 채팅 소켓 오류 & 애니메이션
  public/static/css/remote/Remote.css
  src/pages/components/remote/Remote.js
Labels: 🛠️ fix, 🌈 refactor, 🗄️ remote, design

#84 [Feat/#74] 게임 소켓
  src/pages/components/App.js
  src/pages/components/game/Game.js
  src/pages/components/local/Local.js
  src/pages/components/remote/Remote.js
  src/pages/components/tournament/Tournament-Bracket.js
  src/pages/components/tournament/Tournament.js
Labels: ✨ feature, ⚽️ game

#85 [feat/#74]: 게임 종료 버튼 추가
  public/static/css/game/Game.css
  src/pages/components/game/Game.js
  src/pages/components/local/Local.js
  src/pages/components/tournament/Tournament-Bracket.js
  src/pages/components/tournament/Tournament.js
  src/utils/language.js
Labels: ✨ feature, ⚽️ game

#87 [Fix/#86] 채팅 소켓 수정
  src/pages/components/App.js
  src/pages/components/login/LoginRedirect.js
  src/pages/components/login/SelectLanguage.js
Labels: 🛠️ fix, ⌨️ chat

#89 [Fix/#88] 라우팅 이슈 해결
  src/core/http.js
  src/pages/components/App.js
  src/pages/components/NotFound.js
  src/pages/components/game/Game.js
  src/pages/components/game_select/GameSelect.js
  src/pages/components/local/Local.js
  src/pages/components/login/LoginRedirect.js
  src/pages/components/remote/Remote.js
  src/pages/components/tournament/Tournament-Bracket.js
  src/pages/components/tournament/Tournament.js
Labels: 🛠️ fix, ⌨️ chat

#93 [Refactor/#81, Feat#83] Remote 매칭 취소 예외처리 및 경고창 모달 작업
  src/core/http.js
  src/pages/components/App.js
  src/pages/components/remote/Remote.js
  src/utils/language.js
  src/utils/modal.js
Labels: ✨ feature, 👥 login, 🌈 refactor, 🗄️ remote

#95 [Fix/#92] 채팅 소켓 다중접속 예외처리
  src/pages/components/App.js
  src/pages/components/game_select/GameSelect.js
  src/router/router.js
Labels: 🛠️ fix, ⌨️ chat

#98 [Fix] Remote 코드 재업데이트
  src/pages/components/remote/Remote.js
Labels: 🛠️ fix, 🗄️ remote

#99 [Fix] Remote 코드 재업데이트
  src/core/http.js
  src/pages/components/remote/Remote.js
  src/utils/modal.js
Labels: 🛠️ fix, 🗄️ remote

#100 [Fix/#96] 라우팅 문제 해결
  src/core/Component.js
  src/core/http.js
  src/index.js
  src/pages/components/App.js
  src/pages/components/NotFound.js
  src/pages/components/game/Game.js
  src/pages/components/game_select/GameSelect.js
  src/pages/components/local/Local.js
  src/pages/components/login/Login.js
  src/pages/components/login/LoginRedirect.js
  src/pages/components/remote/Remote.js
  src/pages/components/tournament/Tournament-Bracket.js
  src/pages/components/tournament/Tournament.js
  src/router/Router.js
  src/router/constants/RouterInstanceStore.js
  src/router/router.js
  src/router/utils/navigate.js
Labels: 🛠️ fix, 🚏 routing

#103 [Feat/#74] 게임 소켓 완
  public/static/css/game/Game.css
  public/static/images/player1_image.png
  public/static/images/player1_image2.png
  public/static/images/player2_image.png
  src/pages/components/App.js
  src/pages/components/game/Game.js
  src/pages/components/game_select/GameSelect.js
  src/pages/components/local/Local.js
  src/pages/components/tournament/Tournament-Bracket.js
  src/pages/components/tournament/Tournament.js
  src/router/constants/pages.js
  src/router/router.js
  src/utils/componentManager.js
  src/utils/language.js
Labels: ✨ feature, ⚽️ game

#102 [Fix/#101] navigate, 로고 클릭 예외처리
  src/core/Component.js
  src/core/http.js
  src/pages/components/App.js
  src/pages/components/game_select/GameSelect.js
  src/pages/components/local/Local.js
  src/pages/components/login/LoginRedirect.js
  src/pages/components/login/SelectLanguage.js
  src/pages/components/remote/Remote.js
  src/pages/components/tournament/Tournament.js
  src/router/Router.js
  src/router/constants/RouterInstanceStore.js
Labels: 🛠️ fix, 🚏 routing

#104 [FEAT/#74]: 게임 소켓 끝
  src/pages/components/game/Game.js
  src/pages/components/local/Local.js
  src/pages/components/tournament/Tournament-Bracket.js
  src/router/Router.js
Labels: ✨ feature, ⚽️ game

#105 [Fix#94] Remote 매칭 취소 로직 & 취소하기 버튼 지우는 로직 추가
  public/static/css/remote/Remote.css
  src/pages/components/game/Game.js
  src/pages/components/remote/Remote.js
  src/utils/modal.js
Labels: 🛠️ fix, 🗄️ remote

#109 [Feat#106] Remote 앞, 뒤로가기 버튼 예외처리 및 이벤트 관리
  src/pages/components/remote/Remote.js
Labels: ✨ feature, 🌈 refactor, 🗄️ remote

#112 [Design#108][Fix#110] Remote Bootstrap 추가 | 매칭 취소 화면 전환 문제 해결
  public/static/css/remote/Remote.css
  src/pages/components/game_select/GameSelect.js
  src/pages/components/remote/Remote.js
  src/utils/modal.js
Labels: 🛠️ fix, 🗄️ remote, design

#113 [Feat/#74] 기타 자잘한 버그 수정
  src/pages/components/App.js
  src/pages/components/NotFound.js
  src/pages/components/game/Game.js
  src/pages/components/game_select/GameSelect.js
  src/pages/components/local/Local.js
  src/pages/components/login/Login.js
  src/pages/components/login/LoginRedirect.js
  src/pages/components/login/OauthBtn.js
  src/pages/components/remote/Remote.js
  src/pages/components/tournament/Tournament-Bracket.js
  src/pages/components/tournament/Tournament.js
  src/router/Router.js
  src/router/constants/RouterInstanceStore.js
  src/router/constants/pages.js
Labels: 🛠️ fix, ⚽️ game

#116 [Feat/#74] 기타 버그 수정
  src/pages/components/App.js
  src/pages/components/game/Game.js
  src/pages/components/game_select/GameSelect.js
  src/pages/components/login/OauthBtn.js
  src/pages/components/login/SelectLanguage.js
  src/pages/components/tournament/Tournament-Bracket.js
Labels: 🛠️ fix, ⚽️ game

#117 [Fix/#115] 토큰 만료 채팅 소켓 문제 | Remote 느낌표 새로고침 예외 추가
  src/core/http.js
  src/pages/components/App.js
  src/pages/components/game/Game.js
  src/pages/components/game_select/GameSelect.js
  src/pages/components/local/Local.js
  src/pages/components/remote/Remote.js
  src/pages/components/tournament/Tournament-Bracket.js
  src/pages/components/tournament/Tournament.js
  src/store/state.js
  src/utils/modal.js
Labels: 🛠️ fix, ✨ feature, 👥 login, 🗄️ remote

#118 [Fix/#115] 토큰 만료 채팅 소켓 문제 | Remote 느낌표 새로고침 예외 추가
  src/pages/components/game/Game.js
Labels: 🛠️ fix, ✨ feature, 👥 login, 🗄️ remote

#120 [Test/#119] 토큰 만료 확인 코드 최적화
  src/core/http.js
  src/pages/components/App.js
  src/pages/components/game/Game.js
  src/pages/components/game_select/GameSelect.js
  src/pages/components/local/Local.js
  src/pages/components/remote/Remote.js
  src/pages/components/tournament/Tournament.js
Labels: 🌈 refactor

#122 [Chore/#121] 테스트 전 주석 및 간단한 버그 수정
  package.json
  src/core/Component.js
  src/index.js
  src/pages/components/App.js
  src/pages/components/NotFound.js
  src/pages/components/game_select/GameSelect.js
  src/pages/components/login/SelectLanguage.js
  src/router/Router.js
  src/router/constants/RouterInstanceStore.js
  src/router/constants/pages.js
  src/router/utils/querySelector.js
  src/store/actions.js
  src/store/mutations.js
  src/store/store.js
  src/utils/componentManager.js
  src/utils/modal.js
  webpack.config.js
Labels: 🏷️ etc.

#124 [Chore/#123] 테스트 전 주석 및 로그 제거
  src/core/Component.js
  src/core/http.js
  src/pages/components/game/Game.js
  src/pages/components/remote/Remote.js
Labels: 🏷️ etc.

#126 [Feat/#74] 게임 버그 수정
  src/pages/components/App.js
  src/pages/components/game/Game.js
Labels: 🛠️ fix, ⚽️ game

#128 [FEAT#74] : 게임 오류 최종
  src/pages/components/App.js
  src/pages/components/game/Game.js
Labels: 🛠️ fix, ⚽️ game

#129 [Fix/#125] 채팅 크기 수정
  public/static/css/chat/Chat.css
  public/static/css/index.css
  src/pages/components/App.js
Labels: ⌨️ chat

#130 [Fix/#125] 채팅 크기 수정
  public/static/css/index.css
  public/static/css/login/login.css
Labels: 🏷️ etc.

#132 [Chore] Remote 언어 수정
  src/pages/components/remote/Remote.js
  src/utils/language.js
Labels: 🛠️ fix

#133 [FEAT/#74] 게임 수정
  src/pages/components/game/Game.js
  src/pages/components/tournament/Tournament-Bracket.js
Labels: ✨ feature, ⚽️ game

#135 [Fix/#134] 메인 로고 클릭 시 이동 새로고침
  src/pages/components/App.js
  src/pages/components/remote/Remote.js
Labels: 🏷️ etc.

#137 [Chore/#127] Remote 뒤로가기, 로컬스토리지 remote-id 삭제
  src/pages/components/remote/Remote.js
Labels: 🛠️ fix

#138 [Chore#127] Remote 뒤로가기 시 remote-id 삭제
  src/pages/components/remote/Remote.js
Labels: 🛠️ fix

#139 [Fix/#134] 새로고침, url 수동으로 바꿀 때 예외처리
  src/pages/components/App.js
  src/pages/components/login/LoginRedirect.js
  src/pages/components/remote/Remote.js
  src/utils/language.js
  src/utils/modal.js
Labels: ⌨️ chat

#140 [Chore/#127] Remot-id 제거
  src/pages/components/remote/Remote.js
Labels: 🛠️ fix

#141 [FEAT/#74] 게임 새로고침 문제 해결
  certs/run_openssl.sh
  src/pages/components/game/Game.js
  src/pages/components/remote/Remote.js
  src/pages/components/tournament/Tournament-Bracket.js
Labels: 🛠️ fix, ⚽️ game

#142 [FEAT/#74] 토너먼트 게임 까지 수정
  src/pages/components/game/Game.js
Labels: 🛠️ fix, ⚽️ game

#143 [FEAT#74] 토너먼트 수정
  src/pages/components/game/Game.js
  src/pages/components/remote/Remote.js
Labels: 🛠️ fix, ⚽️ game, 🏆 tournament

#144 [FEAT/#74] 토너먼트 최종.......
  src/pages/components/game/Game.js
Labels: 🛠️ fix, ⚽️ game

#145 [FEAT#74] 로컬 게임 수정
  src/pages/components/local/Local.js
Labels: 🛠️ fix, ⚽️ game

#147 [Fix/#146] 메인클릭 수정
  src/pages/components/App.js
Labels: 🏷️ etc.
